// for xd color

$main_color:#B0060F;
$black_main:#191717;
$yellow_main:#DDB429;
$slider_red_red:#D53C44;


/* for Roboto fonts */ 

$fonts-path-Roboto:"/assets/fonts/roboto-cufonfonts-webfont" !default;
$main-font-family:"Roboto Bold";


/* for copycat fonts */ 
$fonts-path-copycat:"/assets/fonts/copycat-759-1_woff" !default;
$slider-font-family:"Copycat 759";




